In [2]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [3]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Atuona,PF,2020-05-09 14:54:16,-9.80,-139.03,80.80,75,12,18.48
1,1,Opuwo,NaN,2020-05-09 14:55:30,-18.06,13.84,81.25,22,0,14.36
2,2,Vaini,TO,2020-05-09 14:54:06,-21.20,-175.20,78.80,94,75,11.41
3,3,Olden,NO,2020-05-09 14:55:30,61.84,6.81,46.00,59,54,7.00
4,4,Butaritari,KI,2020-05-09 14:53:57,3.07,172.79,82.78,77,37,5.44

In [4]:
# get data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [5]:
# configure gmaps to use Google API key
gmaps.configure(api_key=g_key)

In [6]:
# get max temperature and replace negatives with 0s
max_temp = city_data_df["Max Temp"]
temps = []
temps = [max(temp, 0) for temp in max_temp]

In [7]:
# heatmap of temperature
# get latitude and longitute into an array
locations = city_data_df[["Lat", "Lng"]]
# assign figure variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
#assign heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
#add the heatmap layer
fig.add_layer(heat_layer)
#call the figure to plot data
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
cloudiness = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=cloudiness, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind_speed = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind_speed, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 55
What is the maximum temperature you would like for your trip? 60

In [12]:
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)].dropna()
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
37,37,Otradnoye,RU,2020-05-09 14:55:34,59.78,30.82,57.99,40,40,17.90
68,68,Kaeo,NZ,2020-05-09 14:55:38,-35.10,173.78,55.99,3,88,5.01
69,69,Yulara,AU,2020-05-09 14:54:24,-25.24,130.99,59.00,33,72,9.17
73,73,Nikolskoye,RU,2020-05-09 14:54:04,59.70,30.79,57.99,39,40,17.90
82,82,Waipawa,NZ,2020-05-09 14:54:10,-41.41,175.52,55.40,87,7,12.75
84,84,Qaqortoq,GL,2020-05-09 14:55:39,60.72,-46.03,55.40,13,20,20.80
99,99,Isla Vista,US,2020-05-09 14:55:40,34.41,-119.86,59.00,93,90,4.70
101,101,Coquimbo,CL,2020-05-09 14:54:18,-29.95,-71.34,55.40,82,75,6.93
103,103,Xingcheng,CN,2020-05-09 14:55:41,40.62,120.72,58.96,77,98,5.46
105,105,Lebu,CL,2020-05-09 14:55:41,-37.62,-73.65,58.21,85,3,14.92

In [13]:
preferred_cities_df.count()

City_ID       46
City          46
Country       46
Date          46
Lat           46
Lng           46
Max Temp      46
Humidity      46
Cloudiness    46
Wind Speed    46
dtype: int64

In [14]:
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

           City Country  Max Temp    Lat     Lng Hotel Name
37    Otradnoye      RU     57.99  59.78   30.82
68         Kaeo      NZ     55.99 -35.10  173.78
69       Yulara      AU     59.00 -25.24  130.99
73   Nikolskoye      RU     57.99  59.70   30.79
82      Waipawa      NZ     55.40 -41.41  175.52
84     Qaqortoq      GL     55.40  60.72  -46.03
99   Isla Vista      US     59.00  34.41 -119.86
101    Coquimbo      CL     55.40 -29.95  -71.34
103   Xingcheng      CN     58.96  40.62  120.72
105        Lebu      CL     58.21 -37.62  -73.65

In [15]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [16]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.

In [17]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
37,Otradnoye,RU,57.99,59.78,30.82,Baza otdikha Petrushinsky Khutor
68,Kaeo,NZ,55.99,-35.10,173.78,Bushido Lodge
69,Yulara,AU,59.00,-25.24,130.99,Desert Gardens Hotel - Ayers Rock Resort
73,Nikolskoye,RU,57.99,59.70,30.79,Tourist House - Sablino
82,Waipawa,NZ,55.40,-41.41,175.52,Tora Coastal Walk
84,Qaqortoq,GL,55.40,60.72,-46.03,Hotel Qaqortoq
99,Isla Vista,US,59.00,34.41,-119.86,Super 8 by Wyndham Santa Barbara/Goleta
101,Coquimbo,CL,55.40,-29.95,-71.34,Hotel San Juan
103,Xingcheng,CN,58.96,40.62,120.72,New Century Hotel
105,Lebu,CL,58.21,-37.62,-73.65,Hostal Las Lilas

In [18]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

In [20]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [21]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))